body {
    background: #f9e933;
}
header, main, footer {
    min-width: 90%;
}
header {
    background: white;
}
main {
    background: white;
}
.container {
    max-width: 90%;
    margin: auto;    
}